.classpath
.project
.idea/
.idea/*
.settings/
out
redis_db.rdb
TweetSent/data/temp
TweetSent/data/temp/*
tmp/*
**/tmp/*
out/*
log
log.*
**/target/*
**/classes/
**/log.txt
*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.iml
/bin
